<div ad-draggable
     override="true"
     on-drag-start="startDrag"
     on-drag="drag"
     class="slider-handle"
     ng-style="{left: offset + '%'}"
     role="slider">
    <div ng-transclude></div>
</div>