<div class="slider-track">
    <div class="slider-selection" ng-style="{left: fillStart + '%', width: fillWidth + '%'}"></div>
    <div ng-transclude></div>
    <ol class="slider-segments"  ng-style="{width: barWidth+'%'}" >
        <li ng-repeat="segment in segments track by $index" class="slider-segments-item" ng-style="{width: segmentWidth+'%'}">
            <div >{{segment}}</div>
        </li>
    </ol>
</div>