<div class="popover bottom visible" role="tooltip">
    <div class="arrow" style="left: 50%;"></div>
    <h3 class="popover-title">{{title}}</h3>
    <div class="popover-content" ng-transclude></div>
</div>