<div class="piggy" ng-style="{'margin-top': ((slider.sliderValue4 / 2) *-1)+'px'}">
    <img src="/img/pig_big.png" width="{{slider.sliderValue4}}"  title="drag the pig!"/>
    <popover title="Hoeveel kilo piggy?">
        {{slider.sliderValue4}}
    </popover>
</div>