<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/js/components/slider/slider.css">

    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/components/draggable/draggable.js"></script>
    <script src="/js/components/draggable/draggableCtrl.js"></script>
    <script src="/js/components/slider/slider.js"></script>
    <script src="/js/components/slider/sliderCtrl.js"></script>
    <script src="/js/components/slider/sliderHandle.js"></script>
    <script src="/js/components/slider/sliderBar.js"></script>
    <script src="/js/components/piggyHandle/piggyHandle.js"></script>
    <script src="/js/components/popover/popover.js"></script>


    <title>Slider testpages</title>
</head>
<body ng-app="awesome-directives">
<script>
    angular.module('awesome-directives').controller('SliderTestCtrl', function($scope){
        $scope.slider = {
            sliderValue:3,
            sliderValue2: 4,
            sliderValue3: 9,
            sliderValue4: 50
        };

        $scope.step = 1;
        $scope.min = 1;
        $scope.max = 5;
       $scope.segments = ['banaan', 'appel', 'citroen', 'tjampedak', 'peer'];

    });
</script>
<div ng-controller="SliderTestCtrl" class="container">
    <h1>Slider testpage</h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Slider with one control and default bar</div>
                <div class="panel-body">
                    <form name="myForm">
                        <div class="form-group col-sm-4">
                            <label for="current">Current value</label>
                            <input ng-model="slider.sliderValue" type="text" id="current" class="form-control"/>
                        </div>
                        <div class="form-group col-sm-11">
                            <ad-slider id="singleSlider" min="{{min}}" max="{{max}}" step="{{step}}" class="l-2"  >
                                <ad-slider-bar segments="segments" class="default">
                                    <ad-slider-handle ng-model="slider.sliderValue">
                                        <div class="custom round"></div>
                                    </ad-slider-handle>
                                </ad-slider-bar>
                            </ad-slider>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Slider with 2 handles and no bar</div>
                <div class="panel-body">
                    <div class="form-group col-sm-4">
                        <div class="label label-info">Selected Range: {{slider.sliderValue2}} - {{slider.sliderValue3}}</div>
                    </div>
                    <form name="myForm">
                        <div class="form-group col-sm-11">
                            <ad-slider min="0" max="13" step="{{step}}">
                                <ad-slider-bar>
                                    <ad-slider-handle ng-model="slider.sliderValue2">
                                        <div class="custom round"></div>
                                    </ad-slider-handle>
                                    <ad-slider-handle ng-model="slider.sliderValue3">
                                        <div class="custom square"></div>
                                    </ad-slider-handle>
                                </ad-slider-bar>
                            </ad-slider>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Slider with custom pig handle</div>
                <div class="panel-body">
                    <form name="myForm">
                        <div class="form-group col-sm-11">
                            <ad-slider min="20" max="100" step="1">
                                <ad-slider-bar>
                                    <ad-slider-handle ng-model="slider.sliderValue4">
                                        <piggy-handle>

                                        </piggy-handle>
                                    </ad-slider-handle>
                                </ad-slider-bar>
                            </ad-slider>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>